@page "/contacts"
@inject HttpClient Http

<PageTitle>Contacts</PageTitle>

<h1>Contacts</h1>

<p>List of contacts.</p>

@if (contactDTOs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in contactDTOs)
            {
                <tr>
                    <td>@contact.FirstName</td>
                    <td>@contact.LastName</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ContactDTO[]? contactDTOs;

    protected override async Task OnInitializedAsync()
    {
        contactDTOs = await Http.GetFromJsonAsync<ContactDTO[]>("api/contact");
    }

    public class ContactDTO
    {
        public long Id { get; set; }
        public required string FirstName { get; set; }
        public required string LastName { get; set; }
    }
}
