@page "/contacts"
@using ContactsApp.Frontend.Models
@using Microsoft.AspNetCore.Components.Authorization
@inject HttpClient Http

<PageTitle>Contacts</PageTitle>

<h1>Contacts</h1>

<p>List of contacts.</p>

@if (contactDTOs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <CascadingAuthenticationState>
        <AuthorizeView>
            <Authorized>
                <NavLink href="contacts/add">Add a new contact</NavLink>
            </Authorized>
        </AuthorizeView>
    </CascadingAuthenticationState>
    
    

    <table class="table">
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in contactDTOs)
            {
                <tr>
                    <td>@contact.FirstName</td>
                    <td>@contact.LastName</td>
                    <td><NavLink href="@($"contacts/{contact.Id}")">More</NavLink></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ContactDTO[]? contactDTOs;

    protected override async Task OnInitializedAsync()
    {
        contactDTOs = await Http.GetFromJsonAsync<ContactDTO[]>("api/contact");
    }

    
}
