@page "/"

<PageTitle>Start</PageTitle>

<!-- start page, filled with the taks description -->

<h1>.NET CORE – zadanie 1</h1>

<p>Proszę napisz prostą aplikację (stronę Web) obsługującą listę kontaktów.</p>

Funkcjonalności:
<ol>
    <li>
        Logowanie:
        Funkcjonalność z pkt. 2 dostępna jest dla niezalogowanego użytkownika, pozostałe wymagają zalogowania.
    </li>
    <li>
        Przeglądanie listy kontaktów:
        Lista powinna zawierać dane podstawowe. Po wybraniu konkretnego kontaktu wyświetlane są jego szczegóły.
    </li>
    <li>
        Szczegóły kontaktu:
        Zalogowany użytkownik może edytować i usuwać istniejące wpisy oraz dodawać nowe. Pojedynczy kontakt powinien mieć przynajmniej:
        <ul>
            <li>imię,</li>
            <li>nazwisko,</li>
            <li>email – unikalny,</li>
            <li>hasło – powinno spełniać podstawowe standardy złożoności hasła,</li>
            <li>kategoria (służbowy, prywatny, inny),</li>
            <li>w przypadku wybrania opcji „służbowy” powinna być możliwość wybrania podkategorii ze słownika (np. szef, klient, itp.), a w przypadku opcji „inny” możliwość wpisania dowolnej podkategorii,</li>
            <li>telefon,</li>
            <li>data urodzenia.</li>
        </ul>
    </li>
</ol>

Założenia techniczne:
<ul>
    <li>Aplikacja powinna być napisana w języku C# z użyciem dowolnej bazy danych.</li>
    <li>Architektura aplikacji backendowej - REST API - wymagane</li>
    <li>Architektura aplikacji frontendowej - Single Page Application - wymagane</li>
    <li>Wszelkie dane słownikowe (kategorie, podkategorie) powinny być trzymane w bazie danych - wymagane</li>
    <li>Zaleca się wykorzystanie darmowych bibliotek</li>
    <li>Należy zwrócić uwagę na bezpieczeństwo aplikacji</li>
    <li>Kod źródłowy powinien zawierać komentarze</li>
    <li>Wygląd graficzny aplikacji jest nieistotny</li>
</ul>

Do zadania należy przygotować <u><b>krótką</b> specyfikację techniczną</u> zawierającą:
<ul>
    <li>opis poszczególnych klas i metod,</li>
    <li>wykorzystane biblioteki,</li>
    <li>sposób kompilacji aplikacji.</li>
</ul>



