@using ContactsApp.Frontend.Providers
@using Microsoft.AspNetCore.Components.Authorization
@inject HttpClient Http
@inject NavigationManager Navigation
@inject CustomAuthenticationStateProvider AuthStateProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ContactsApp.Frontend</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Start
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contacts">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Contacts
            </NavLink>
        </div>
        <CascadingAuthenticationState>
            <AuthorizeView> <!--depends on login state-->
                <Authorized>
                    <!-- for  logged in users -->
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="" @onclick="sendLogout">
                            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Log out
                        </NavLink>
                    </div>
                </Authorized>
                <NotAuthorized> 
                    <!-- for not logged in users -->
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="login">
                            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Log in
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="register">
                            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Register
                        </NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </CascadingAuthenticationState>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    // contact the endpoint to invalidate the cookie
    private void sendLogout()
    {
        // for some reason the compiler ofter complains about not being able to await these methods
        var postResult = Http.PostAsync("api/contact/logout", null);

        // would work if above method was called with async
        //if (postResult.IsSuccessStatusCode) Navigation.NavigateTo(""); 

        AuthStateProvider.RefreshAuthenticationState();   // to refresh the sidebar buttons
    }
}
